.breadcrumb {
    background-color: aqua;
    text-align: left; /* Balra igazítás a szövegekhez */
    margin: 8px auto; /* Középre igazítás */
    width: 40%; /* Szélesség beállítása */
    display: flex; /* Flexbox használata */
    align-items: center; /* Vertikális középre igazítás */
}


.breadcrumb h3 {
    margin: 0 10px 0 0;
    font-size: 18px;
}

.breadcrumb a {
    margin: 0 5px;
    text-decoration: none;
    color: #000;
}

.breadcrumb a:hover {
    text-decoration: underline;
}
